/HelloGit/target/
/HoradoSiatema/target/
/HoraDoSistema/target/
/EstudoSwing/target/
/HelloGitJavaFX/nbproject/private/
/HelloGitJavaFX/build/
/HelloGitJavaFX/dist/
/tiposprimitivos/target/
/testetipos/target/
/SomaFX/nbproject/private/
/SomaSwing/target/
/calculadora/target/
/CalculadoraIdade/nbproject/private/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/ExecJava007/nbproject/private/
/ExecJava007/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/OperadoresTernários/nbproject/private/
/OperadoresTernários/build/
/ExecJava008/nbproject/private/
/ExecJava008/build/
/OperadoresL/nbproject/private/
/OperadoresLógicos/nbproject/private/
/OperadoresLógicos/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/VerificadorVoto/nbproject/private/
/VerificadorVoto/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/CondiçãoSimples/nbproject/private/
/CondiçãoSimples/build/
/CondiçãoComposta/nbproject/private/
/CondiçãoComposta/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/ProgramaMédia/nbproject/private/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/EquacaoSegundoGrau/nbproject/private/
/EquacaoSegundoGrau/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramasPernas/nbproject/private/
/ProgramasPernas/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Contador01/nbproject/private/
/Contador01/build/
/ContadorWhile02/nbproject/private/
/ContadorWhile02/build/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
