/HelloGit/target/
/HoradoSiatema/target/
/HoraDoSistema/target/
/EstudoSwing/target/
/HelloGitJavaFX/nbproject/private/
/HelloGitJavaFX/build/
/HelloGitJavaFX/dist/
/tiposprimitivos/target/
/testetipos/target/
/SomaFX/nbproject/private/
/SomaSwing/target/
